/* global styles */

/* generic element style */
.App {
  text-align: center;
}
.App-header {
  height: 10vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 0.3rem;
  background-color: lightgray;
}
