.lavenderItem {
  background-color: lavender;
}
.plumItem {
  background-color: plum;
}
.ToDoListItem {
  margin: 4vmin;
  padding: 2vmin;
  border: 1vmin solid purple !important;
  list-style: none;
  font-size: 6vmin;
}
